---
const { title, icon: Icon, alt } = Astro.props;
---

<div
  class="border-fpurple shadow-fpurple-box flex items-center justify-center overflow-hidden rounded-lg border-2 p-4 opacity-90 shadow-lg backdrop-blur-sm transition-transform duration-300 ease-in-out hover:scale-110 sm:p-7"
  title={title}
>
  <div class="flex h-full w-full items-center justify-center">
    <div class="hidden sm:block">
      <Icon color="white" size={64} alt={alt} />
    </div>
    <div class="sm:hidden">
      <Icon color="white" size={32} alt={alt} />
    </div>
  </div>
</div>
