---
import Particle from "@components/common/Particle.astro";
import ProjectSection from "@components/projects/ProjectSection.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { projectSeeder } from "src/utils/seeders/projectSeeder";

const lang = "en";
---

<BaseLayout
  lang={lang}
  title="Mobile Projects | figonzal.cl"
  description="Android mobile applications developed by Felipe González."
  canonical="https://www.figonzal.cl/en/projects/mobile"
  alternateEs="https://www.figonzal.cl/proyectos/movil"
  alternateEn="https://www.figonzal.cl/en/projects/mobile"
>
  <div class="h-0 w-0">
    <Particle />
  </div>
  <ProjectSection
    title={["Mobile", "Projects"]}
    projects={projectSeeder}
    lang={lang}
    activeCategory="mobile"
  />
</BaseLayout>
