@import "tailwindcss";

@theme {
  --font-sans: "Raleway Variable", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --color-fgreen: #26d6ad;
  --color-fpurple: #5919cff8;
  --color-fpurple-box: #5919cf80;

  --shadow-fgreen: 0 0 25px #26d6ad;

  --animate-wave: wave 2.1s infinite;

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(20deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(20deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #13322b;
}

::-webkit-scrollbar-thumb {
  background: rgba(38, 214, 173, 0.8);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(38, 214, 173, 1);
  border-radius: 12px;
}
