---
import ClientSection from "@components/clients/ClientSection.astro";
import Particle from "@components/common/Particle.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { clientSeed } from "src/utils/provider/clientProvider";

const lang = "en";
---

<BaseLayout lang={lang}>
  <div class="w-0 h-0">
    <Particle />
  </div>
  <ClientSection
    title={["Professional", "Clients"]}
    clients={clientSeed}
    lang={lang}
  />
</BaseLayout>
