---
import AbstractSection from "@components/home/en/AbstractSection.astro";
import IntroSection from "@components/home/en/IntroSection.astro";
import SocialSection from "@components/home/en/SocialSection.astro";
import TechStackSection from "@components/home/en/TechStackSection.astro";
import MainLayout from "@layouts/en/MainLayout.astro";
import Particle from "@components/common/Particle.astro";
---

<MainLayout>
  <div class="w-0 h-0">
    <Particle />
  </div>
  <div>
    <IntroSection />
    <AbstractSection />
    <TechStackSection />
    <SocialSection />
  </div>
</MainLayout>
