---
import Particle from "@components/common/Particle.astro";
import IntroSection from "@components/home/IntroSection.astro";
import AbstractSection from "@components/home/en/AbstractSection.astro";
import SocialSection from "@components/home/socialsection/SocialSection.astro";
import TechStackSection from "@components/home/techsection/TechStackSection.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { githubMonthLabelsEn } from "src/utils/translations";
---

<BaseLayout lang="en">
  <div class="w-0 h-0">
    <Particle />
  </div>
  <IntroSection
    hello="Hello"
    im="I'm"
    typeWritter={[
      "Passionate about technology and innovation.",
      "Android & AR developer",
      "Computer Engineer",
      "Open Source Contributor",
    ]}
  />
  <AbstractSection />
  <TechStackSection
    languagesTitle={["Programming", "Languages"]}
    frameworksTitle={["Frameworks &", "Platforms"]}
    toolsTitle={["Development", "Tools"]}
    devopsTitle={["Cloud &", "DevOps"]}
    ghTitle={["Coding", "Days"]}
    commitMsg="commits on"
    labels={githubMonthLabelsEn}
  />
  <SocialSection
    titles={["My", "Socials"]}
    subTitles={["Feel free to", "connect ", "with me"]}
  />
</BaseLayout>
