---
import Particle from "@components/common/Particle.astro";
import IntroSection from "@components/home/IntroSection.astro";
import AbstractSection from "@components/home/en/AbstractSection.astro";
import FeaturedProjects from "@components/home/FeaturedProjects.astro";
import SocialSection from "@components/home/socialsection/SocialSection.astro";
import TechStackSection from "@components/home/techsection/TechStackSection.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { githubMonthLabelsEn } from "src/utils/translations";
---

<BaseLayout
  lang="en"
  title="figonzal.cl | Portfolio"
  description="Professional website of Felipe González - figonzal.cl"
  canonical="https://www.figonzal.cl/en"
  alternateEs="https://www.figonzal.cl/"
  alternateEn="https://www.figonzal.cl/en"
>
  <div class="h-0 w-0">
    <Particle />
  </div>
  <IntroSection
    hello="Hello"
    im="I'm"
    typeWritter={[
      "Passionate about technology and innovation.",
      "Android & AR developer",
      "Computer Engineer",
      "Open Source Contributor",
    ]}
  />
  <AbstractSection />
  <FeaturedProjects
    title={["Featured", "Projects"]}
    lang="en"
    ctaLabel="See all projects"
    ctaHref="/en/projects/web"
  />
  <TechStackSection
    languagesTitle={["Programming", "Languages"]}
    frameworksTitle={["Frameworks &", "Platforms"]}
    toolsTitle={["Development", "Tools"]}
    devopsTitle={["Cloud &", "DevOps"]}
    ghTitle={["Coding", "Days"]}
    commitMsg="commits on"
    labels={githubMonthLabelsEn}
  />
  <SocialSection
    titles={["My", "Socials"]}
    subTitles={["Feel free to", "connect ", "with me"]}
  />
</BaseLayout>
