---
import Particle from "@components/common/Particle.astro";
import AbstractSection from "@components/home/en/AbstractSection.astro";
import IntroSection from "@components/home/en/IntroSection.astro";
import SocialSection from "@components/home/socialsection/SocialSection.astro";
import TechStackSection from "@components/home/techsection/TechStackSection.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { labelsEn } from "src/utils/githubLabels";
---

<BaseLayout lang="en">
  <div class="w-0 h-0">
    <Particle />
  </div>
  <IntroSection />
  <AbstractSection />
  <TechStackSection
    lpTitle={["My", "Languages", "Frameworks"]}
    dtTitle={["My", "Dev", "Tools"]}
    ghTitle={["Coding", "Days"]}
    commitMsg="commits on"
    labels={labelsEn}
  />
  <SocialSection
    titles={["My", "Socials"]}
    subTitles={["Feel free to", "connect ", "with me"]}
  />
</BaseLayout>
