---
import Particle from "@components/common/Particle.astro";
import ProjectsList from "@components/projects/en/ProjectsList.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout lang="en">
  <section class="mb-auto">
    <div class="w-0 h-0">
      <Particle />
    </div>
    <div class="py-40">
      <h1 class="text-2xl sm:text-4xl dark:text-white text-center">
        My <span class="text-fgreen font-extrabold">Projects</span>
      </h1>

      <div
        class="p-10 sm:p-24 lg:p-24 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-10"
      >
        <ProjectsList />
      </div>
    </div>
  </section>
</BaseLayout>
