---
import Particle from "@components/common/Particle.astro";
import ProjectSection from "@components/projects/ProjectSection.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { projectSeeder } from "src/utils/seeders/projectSeeder";

const lang = "en";
---

<BaseLayout lang={lang}>
  <div class="w-0 h-0">
    <Particle />
  </div>
  <ProjectSection
    title={["My", "Projects"]}
    projects={projectSeeder}
    lang={lang}
  />
</BaseLayout>
