---
import Particle from "@components/common/Particle.astro";
import ProjectSection from "@components/projects/ProjectSection.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout lang="es">
  <div class="w-0 h-0">
    <Particle />
  </div>
  <ProjectSection title={["My", "Projects"]} />
</BaseLayout>
