---
import ClientSection from "@components/clients/ClientSection.astro";
import Particle from "@components/common/Particle.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { clientSeeder } from "@utils/seeders/clientSeeder";

const lang = "es";
---

<BaseLayout
  lang={lang}
  title="Clientes | figonzal.cl"
  description="Proyectos y trabajos profesionales que Felipe González ha desarrollado para clientes."
  canonical="https://www.figonzal.cl/clientes"
  alternateEs="https://www.figonzal.cl/clientes"
  alternateEn="https://www.figonzal.cl/en/clients"
>
  <div class="h-0 w-0">
    <Particle />
  </div>
  <ClientSection
    title={["Clientes", "Profesionales"]}
    clients={clientSeeder}
    lang={lang}
  />
</BaseLayout>
