---
import ClientSection from "@components/clients/ClientSection.astro";
import Particle from "@components/common/Particle.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { clientSeeder } from "@utils/seeders/clientSeeder";

const lang = "es";
---

<BaseLayout lang={lang}>
  <div class="w-0 h-0">
    <Particle />
  </div>
  <ClientSection
    title={["Clientes", "Profesionales"]}
    clients={clientSeeder}
    lang={lang}
  />
</BaseLayout>
