---
import "../styles/tailwind.css";

import Navbar from "../components/common/Navbar.astro";
import AbstractSection from "../components/home/AbstractSection.astro";
import IntroSection from "../components/home/IntroSection.astro";
import TechStackSection from "../components/home/TechStackSection.astro";
import SocialSection from "../components/home/SocialSection.astro";
import Footer from "../components/common/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Sitio profesional de felipe gonzález - figonzal.cl"
    />
    <meta name="generator" content={Astro.generator} />

    <title>figonzal.cl | Portafolio</title>

    <!-- Facebook Meta Tags -->
    <meta property="fb:app_id" content="740961793640508" />
    <meta property="og:url" content="https://www.figonzal.cl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="figonzal.cl | Portafolio" />
    <meta
      property="og:description"
      content="Sitio profesional de felipe gonzález - figonzal.cl"
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/figonzal1/Portfolio/master/Images/og-image.png"
    />
  </head>
  <body
    class="dark:bg-black bg-gradient-to-br from-fgreen/20  to-fpurple/40 antialiased"
  >
    <main>
      <Navbar />
      <IntroSection />
      <AbstractSection />
      <TechStackSection />
      <SocialSection />
    </main>

    <footer class="bg-fpurple/20 backdrop-blur-sm">
      <Footer />
    </footer>
  </body>
</html>
