---
import "../styles/tailwind.css";

import Navbar from "../components/common/Navbar.astro";
import AbstractSection from "../components/home/AbstractSection.astro";
import IntroSection from "../components/home/IntroSection.astro";
import TechStackSection from "../components/home/TechStackSection.astro";
import SocialSection from "../components/home/SocialSection.astro";
import Footer from "../components/common/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="dark:bg-black bg-gradient-to-br from-fpurple/30 to-indigo-950 antialiased"
  >
    <main>
      <Navbar />
      <IntroSection/>
      <AbstractSection/>
      <TechStackSection/>
      <SocialSection/>
    </main>

    <footer>
      <Footer/>
    </footer>
  </body>
</html>