---

import AbstractSection from "../components/home/AbstractSection.astro";
import IntroSection from "../components/home/IntroSection.astro";
import TechStackSection from "../components/home/TechStackSection.astro";
import SocialSection from "../components/home/SocialSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main class="flex-grow">
    <IntroSection />
    <AbstractSection />
    <TechStackSection />
    <SocialSection />
  </main>
</MainLayout>
