---
import Particle from "@components/common/Particle.astro";
import ProjectSection from "@components/projects/ProjectSection.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { projectSeed } from "src/utils/provider/projectProvider";

const lang = "es";
---

<BaseLayout lang={lang}>
  <div class="w-0 h-0">
    <Particle />
  </div>
  <ProjectSection
    title={["Mis", "Proyectos"]}
    projects={projectSeed}
    lang={lang}
  />
</BaseLayout>
