---
import MainLayout from "../layouts/MainLayout.astro";
import { FaGithub } from "react-icons/fa6/index.js";
import { SiGoogleplay } from "react-icons/si/index.js";
import ProjectCard from "@components/projects/ProjectCard.astro";
import Particle from "@components/common/Particle.astro";
import PurpleButton from "@components/common/PurpleButton.astro";

import Projects from "@components/projects/Projects.astro";
---

<MainLayout>
  <div class="w-0 h-0">
    <Particle />
  </div>
  <div class="py-40">
    <h1 class="text-2xl sm:text-4xl dark:text-white text-center">
      Mis <span class="text-fgreen font-extrabold">Proyectos</span>
    </h1>

    <div
      class="p-10 sm:p-24 lg:p-24 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-10"
    >
      <Projects />
    </div>
  </div>
</MainLayout>
