---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="py-40">
    <h1 class="text-4xl dark:text-white text-center">
      Mis dev <span class="text-fgreen font-extrabold">Tools</span>
    </h1>

    <div class="grid grid-cols-3 p-24 gap-14">
      <div class="bg-red-400 h-40 p-5 rounded-lg shadow-fpurple-box shadow-lg">
        <h1>Hola</h1>
      </div>

      <div class="bg-red-400 h-40 p-5 rounded-lg">
        <h1>Hola</h1>
      </div>

      <div class="bg-red-400 h-40 p-5 rounded-lg">
        <h1>Hola</h1>
      </div>

      <div class="bg-red-400 h-40 p-5 rounded-lg">
        <h1>Hola</h1>
      </div>

      <div class="bg-red-400 h-40 p-5 rounded-lg">
        <h1>Hola</h1>
      </div>
    </div>
  </div>
</MainLayout>
