---
import Tilt from "react-parallax-tilt";

---

<section>
  <div
    class="flex justify-evenly items-center pt-56 px-20 gap-20 dark:text-white"
  >
    <div class="flex flex-col justify-center items-center gap-10">
      <h1 class="text-4xl">
        Una peque침a <span class="text-fgreen">rese침a</span> sobre m칤
      </h1>

      <div class="flex flex-col justify-center items-start pl-10 gap-5 text-lg">
        <p>
          Hace 10 a침os conoc칤 la programaci칩n y ha sido lo mejor que me ha
          pasado ... 游땘
        </p>

        <p>
          Tengo experiencia en los lenguages cl치sicos como: <span
            class="text-fgreen font-extrabold italic"
            >Java, Kotlin, Python & C++</span
          ><br />(Aunque los dos 칰ltimos estoy bastante oxidado 游땐)
        </p>

        <p>
          Mis 치reas de inter칠s son:&nbsp; <span
            class="text-fgreen font-extrabold italic"
            >Android, Backend & Blockchain</span
          >
        </p>

        <p>
          칔ltimamente he estado interactuando con nuevas herramientas y 치reas
          como:&nbsp;
          <span class="text-fgreen italic font-extrabold"
            >UE5, Unity & AR/VR</span
          >
        </p>
      </div>
    </div>

    <div class="px-10">
      <Tilt client:load>
        <img src="images/avatar.svg" alt="avatar" />
      </Tilt>
    </div>
  </div>
</section>
