---
import Tilt from "react-parallax-tilt";
---

<section>
  <div
    class="flex flex-col xl:flex-row justify-evenly items-center p-10 md:pt-56 md:px-20 gap-10 md:gap-20 text-white"
  >
    <div
      class="w-full xl:w-3/4 flex flex-col justify-center items-start gap-10 backdrop-blur-sm bg-fgreen/5 p-5 rounded-lg "
    >
      <h1 class="text-2xl md:text-4xl text-center xl:text-left px-5 w-full">
        Una peque침a <span class="text-fgreen">rese침a</span> sobre m칤
      </h1>

      <div
        class="flex flex-col justify-center items-start text-justify px-5 gap-2 md:gap-5 md:text-lg"
      >
        <p>
          Hace <span id="year_ago"></span> a침os conoc칤 la programaci칩n y ha sido
          lo mejor que me ha pasado ... 游땘
        </p>

        <p>
          Tengo experiencia en los lenguages cl치sicos como: <span
            class="text-fgreen font-extrabold italic"
            >Java, Kotlin, Python & C++</span
          ><br />(Aunque los dos 칰ltimos estoy bastante oxidado 游땐)
        </p>

        <p>
          Mis 치reas de inter칠s son:&nbsp; <span
            class="text-fgreen font-extrabold italic"
            >Android, Backend & Blockchain</span
          >
        </p>

        <p>
          칔ltimamente he estado interactuando con nuevas herramientas y 치reas
          como:&nbsp;
          <span class="text-fgreen italic font-extrabold"
            >UE5, Unity & AR/VR</span
          >
        </p>
      </div>
    </div>

    <div class="px-20">
      <Tilt client:load>
        <img
          src="images/profile.png"
          class="rounded-full border-2 border-fgreen border-solid hover:shadow-fgreen duration-150 ease-in-out hover:scale-105"
          alt="Avatar"
        />
      </Tilt>
    </div>
  </div>

  <script>
    let diffAnno = new Date().getFullYear() - 2013;

    const yearElement = document.getElementById("year_ago");
    if (yearElement) {
      yearElement.textContent = diffAnno.toString();
    } else {
      console.log('No se encontr칩 el elemento con id "year"');
    }
  </script>
</section>
