---
import Tilt from "react-parallax-tilt";
import { Picture } from "astro:assets";
import profile from "@assets/images/profile.png";
---

<section>
  <div
    class="flex flex-col items-center justify-evenly gap-10 p-10 text-white md:gap-20 md:px-20 md:pt-56 xl:flex-row"
  >
    <div
      class="bg-fgreen/5 flex w-full flex-col items-start justify-center gap-10 rounded-lg p-5 backdrop-blur-sm xl:w-3/4 2xl:w-1/2"
    >
      <h2 class="w-full px-5 text-center text-2xl md:text-4xl xl:text-left">
        Una pequeña <span class="text-fgreen">reseña</span> sobre mí
      </h2>

      <div
        class="flex flex-col items-start justify-center gap-2 px-5 text-justify md:gap-5 md:text-lg"
      >
        <p>
          Hace <span id="year_ago"></span> años conocí la programación y ha sido lo
          mejor que me ha pasado ... 😍
        </p>

        <p>
          Tengo experiencia en los lenguages clásicos como: <span
            class="text-fgreen font-bold italic"
            >Java, Kotlin, Python & C++</span
          ><br />(Aunque los dos últimos estoy bastante oxidado 😅)
        </p>

        <p>
          Mis áreas de interés son:&nbsp; <span
            class="text-fgreen font-bold italic"
            >Android, Backend & Blockchain</span
          >
        </p>

        <p>
          Últimamente he estado interactuando con nuevas herramientas y áreas
          como:&nbsp;
          <span class="text-fgreen font-bold italic">UE5, Unity & AR/VR</span>
        </p>
      </div>
    </div>

    <div class="px-20">
      <Tilt client:load>
        <Picture
          src={profile}
          formats={["webp", "png"]}
          class="border-fgreen hover:shadow-fgreen rounded-full border-2 border-solid duration-150 ease-in-out hover:scale-105"
          alt="Foto de perfil de Felipe González Alarcón"
          fallbackFormat="png"
        />
      </Tilt>
    </div>
  </div>

  <script>
    const diffAnno = new Date().getFullYear() - 2013;

    const yearElement = document.getElementById("year_ago");
    if (yearElement) {
      yearElement.textContent = diffAnno.toString();
    } else {
      console.log('No se encontró el elemento con id "year"');
    }
  </script>
</section>
