---
import Typewriter from "typewriter-effect";
import homeMain from "@assets/images/home-main.svg";

const { hello, im, typeWritter } = Astro.props;
---

<section>
  <div
    class="mt-32 flex flex-col items-start justify-center gap-10 py-2 lg:flex-row"
  >
    <div
      class="h-80 w-full p-10 text-left text-2xl text-white sm:p-16 lg:w-1/2 lg:p-20 lg:text-4xl"
    >
      <h1 class="pb-7">
        {hello}
        <span class="animate-wave inline-block pe-4">👋🏻</span>
      </h1>

      <h1 class="pb-14">
        {im}
        <span class="text-fgreen font-medium">Felipe González</span>
      </h1>
      <div class="text-fgreen font-medium">
        <Typewriter
          options={{
            strings: typeWritter,
            autoStart: true,
            loop: true,
            delay: "natural",
            deleteSpeed: 10,
          }}
          client:load
        />
      </div>
    </div>
    <div class="hidden lg:block lg:pe-20">
      <img
        src={homeMain.src}
        class="max-h-[450px] opacity-90"
        alt="Home"
        loading="eager"
        decoding="async"
      />
    </div>
  </div>
</section>
