---
const { icon: Icon, link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  rel="noreferrer"
  class="bg-social-button bg-fpurple hover:border-fgreen hover:shadow-fgreen rounded-full border-2 border-transparent p-3 duration-150 ease-in-out"
>
  <Icon color="white" size={21} />
</a>
