---
import Typewriter from "typewriter-effect";
---

<div>
  <Typewriter
    options={{
      strings: [
        "Desarrollador Android & AR",
        "Ingeniero Informático",
        "Colaborador Open Source",
        "Apasionado por la tecnología e innnovación",
      ],
      autoStart: true,
      loop: true,
      delay: "natural",
      deleteSpeed: 10,
    }}
  />
</div>
