---
const { icon: Icon, link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  rel="noreferrer"
  class="bg-social-button hover:border-2 hover:border-fgreen hover:before:border-fgreen hover:before:scale-110 hover:shadow-social p-3 rounded-full duration-150 ease-in-out shrink-0"
>
  <Icon color="white" size={21} />
</a>
