---
const { icon: Icon, alt } = Astro.props;
---

<div
  class="flex items-center justify-center p-7 opacity-90 border-2 border-fpurple shadow-fpurple-box shadow-lg rounded-md overflow-hidden transition-all duration-300 ease-in-out transform hover:scale-110"
>
  <Icon color="white" size={64} alt={alt} />
</div>
