---
import type { TechStack } from "src/utils/types";
import TechStackIcon from "./TechStackIcon.astro";

const { techStack } = Astro.props;
---

<div
  class="opacity-0 group-hover:opacity-85 absolute right-4 -bottom-3 border-2 border-fgreen/90 bg-fpurple shadow-md shadow-fpurple-box rounded-lg transition-all ease-in-out duration-300 delay-150"
>
  <div class="flex flex-row gap-3 p-1">
    {
      techStack.map((item: TechStack) => (
        <TechStackIcon title={item.title} icon={item.icon} />
      ))
    }
  </div>
</div>
