---
import { FaGithub } from "react-icons/fa6";
import { ImFacebook, ImLinkedin2 } from "react-icons/im";
import { SiGoogleplay, SiInstagram } from "react-icons/si";
import { Image } from "astro:assets";
import logo from "@assets/images/logo.png";

const { lang } = Astro.props;

let footerMsg = "";
if (lang === "es") {
  footerMsg = "Hecho con 🍵 y código por ";
} else {
  footerMsg = "Made with 🍵 & code by ";
}
---

<footer class="bg-fpurple/20 backdrop-blur-sm w-full">
  <div class="px-8 py-4 text-white">
    <div
      class="flex flex-col justify-center items-center sm:justify-between sm:flex-row gap-5"
    >
      <a href="https://www.figonzal.cl/">
        <Image src={logo} height={32} alt="Figonzal.cl Logo" />
      </a>

      <div class="flex items-center justify-center gap-5">
        <a
          href="https://github.com/figonzal1"
          target="_blank"
          rel="noreferrer"
          class="hover:opacity-50 transition-opacity duration-150 ease-in-out"
        >
          <FaGithub />
        </a>

        <a
          href="https://play.google.com/store/apps/dev?id=4650587366054768148"
          target="_blank"
          rel="noreferrer"
          class="hover:opacity-50 transition-opacity duration-150 ease-in-out"
        >
          <SiGoogleplay />
        </a>

        <a
          href="https://www.instagram.com/figonzal.cl"
          target="_blank"
          rel="noreferrer"
          class="hover:opacity-50 transition-opacity duration-150 ease-in-out"
        >
          <SiInstagram />
        </a>

        <a
          href="https://facebook.com/figonzal.cl"
          target="_blank"
          rel="noreferrer"
          class="hover:opacity-50 transition-opacity duration-150 ease-in-out"
        >
          <ImFacebook />
        </a>

        <a
          href="https://www.linkedin.com/in/figonzal/"
          target="_blank"
          rel="noreferrer"
          class="hover:opacity-50 transition-opacity duration-150 ease-in-out"
        >
          <ImLinkedin2 />
        </a>
      </div>
    </div>

    <hr class="my-4 border-fpurple/30 rounded-full" />

    <span class="text-sm text-center flex flex-col justify-center">
      <span id="year"></span>
      <span
        >{footerMsg}<a
          href="https://figonzal.cl/"
          class="underline font-semibold hover:opacity-50 transition-opacity duration-150 ease-in-out"
          >figonzal.cl</a
        >
      </span>
    </span>
  </div>

  <script>
    const actualYear = new Date().getFullYear();
    const yearElement = document.getElementById("year");

    if (yearElement) {
      yearElement.textContent = actualYear.toString();
    } else {
      console.log('No se encontró el elemento con id "year"');
    }
  </script>
</footer>
