---
import { FaGithub } from "react-icons/fa6/index.js";
import { ImFacebook, ImLinkedin2 } from "react-icons/im/index.js";
import { SiGoogleplay, SiInstagram } from "react-icons/si/index.js";
---

<footer class="bg-fpurple/20 backdrop-blur-sm w-full">
  <div class="px-8 py-4 text-white">
    <div class="flex flex-col justify-center items-center sm:flex-row gap-5">
      <a href="https://www.figonzal.cl/">
        <img src="images/logo.png" class="h-8" alt="Figonzal.cl Logo" />
      </a>

      <div class="flex items-center justify-center gap-5">
        <a href="https://github.com/figonzal1" target="_blank" rel="noreferrer">
          <FaGithub />
        </a>

        <a
          href="https://play.google.com/store/apps/dev?id=4650587366054768148"
          target="_blank"
          rel="noreferrer"
        >
          <SiGoogleplay />
        </a>

        <a
          href="https://www.instagram.com/figonzal.cl"
          target="_blank"
          rel="noreferrer"
        >
          <SiInstagram />
        </a>

        <a
          href="https://facebook.com/figonzal.cl"
          target="_blank"
          rel="noreferrer"
        >
          <ImFacebook />
        </a>

        <a
          href="https://facebook.com/figonzal1"
          target="_blank"
          rel="noreferrer"
        >
          <ImLinkedin2 />
        </a>
      </div>
    </div>

    <hr class="my-4 border-fpurple/30 rounded-full" />

    <span class="block text-sm text-center"
      >© <span id="year"></span>
      <a href="https://figonzal.cl/" class="underline font-semibold"
        >figonzal.cl</a
      >. All Rights Reserved.</span
    >
  </div>

  <script>
    const actualYear = new Date().getFullYear();
    const yearElement = document.getElementById("year");

    if (yearElement) {
      yearElement.textContent = actualYear.toString();
    } else {
      console.log('No se encontró el elemento con id "year"');
    }
  </script>
</footer>
