---

---

<div
  class="flex px-10 py-5 justify-center items-center bg-fpurple-box text-white"
>
  <div class="w-1/3">
    <h1>Designed and Developed by figonzal.cl</h1>
  </div>
  <div class="w-1/3 flex justify-center">
    <h1>Copyright 2023 figonzal.cl</h1>
  </div>
  <div class="w-1/3 flex justify-center">
    <h1>Links</h1>
  </div>
</div>
