---
import { FaHome } from "react-icons/fa/index.js";
import { GoProjectSymlink } from "react-icons/go/index.js";
import { BiGitRepoForked, BiStar } from "react-icons/bi/index.js";
import { ImBlog } from "react-icons/im/index.js";
import NavbarLink from "./NavbarLink.astro";
import PurpleButton from "./PurpleButton.astro";
---

<nav
  class="flex items-center px-24 py-6 mt-0 z-50 backdrop-blur-md fixed w-full"
>
  <div>
    <img class="h-7" src="images/logo.png" alt="Figonzal.cl logo" />
  </div>
  <div class="flex justify-between items-center ms-auto gap-10">
    <NavbarLink icon={FaHome} name="Inicio" link="/" />
    <NavbarLink icon={GoProjectSymlink} name="Proyectos" link="/proyectos" />
    <NavbarLink
      icon={ImBlog}
      name="Blog"
      link="https://figonzal.hashnode.dev/"
    />

    <PurpleButton>
      <BiGitRepoForked size={18} color="white" />
      <BiStar size={18} color="white" />
    </PurpleButton>
  </div>
</nav>
