---
const { icon: Icon,name, link } = Astro.props;
---

<a
  href={link}
  class="flex border-b-2 border-transparent hover:border-fgreen transition-colors duration-300 ease-in-out"
>
  <Icon size={21} color="white" />
  <p class="ps-2 dark:text-white text-xl">{name}</p>
</a>
