---
---

<div id="tsparticles"></div>

<script>
  import { type ISourceOptions, tsParticles } from "@tsparticles/engine";
  import { loadAll } from "@tsparticles/all";

  const options: ISourceOptions = {
    detectRetina: true,
    fullScreen: {
      zIndex: -1,
    },
    particles: {
      number: {
        value: 80,
        density: {
          enable: true,
        },
      },
      links: {
        enable: true,
        distance: 150,
        opacity: 0.1,
        width: 1,
      },
      move: {
        enable: true,
        speed: 0.5,
        direction: "none",
        outModes: "out",
      },
      size: {
        value: 1,
      },
      opacity: {
        animation: {
          enable: true,
          speed: 1,
        },
      },
    },
  };

  await loadAll(tsParticles);
  await tsParticles.load({ id: "tsparticles", options });
</script>
