---
import { FaGithub } from "react-icons/fa6/index.js";
import { SiGoogleplay } from "react-icons/si/index.js";

const { link, button } = Astro.props;
---

<a
  class="flex justify-center items-center border-2 border-fpurple bg-fpurple-box hover:bg-fpurple/30 p-2 rounded-lg gap-1 px-4 py-2 transition-colors duration-150 ease-in-out"
  href={link}
  target="_blank"
  referrerpolicy="no-referrer"
>
  {
    button.icon === FaGithub ? (
      <FaGithub color="white" size={21} />
    ) : (
      <SiGoogleplay color="white" size={21} />
    )
  }
  <div class="hidden sm:block">
    <h2 class="text-white ps-1">{button.title}</h2>
  </div>
</a>
