---
import Navbar from "@components/common/en/Navbar";
import Footer from "@components/common/Footer.astro";
import Header from "@layouts/Header.astro";
---

<html lang="es">
  <Header />
  <body
    class="flex flex-col min-h-screen bg-black bg-gradient-to-br from-fgreen/20 to-fpurple/40 antialiased w-full"
  >
    <Navbar client:load />
    <slot />
    <Footer />
  </body>
</html>
