---
import Footer from "@components/common/Footer.astro";
import Header from "@components/common/Header.astro";
import Navbar from "@components/common/Navbar";

import "@fontsource-variable/raleway";
import "@styles/tailwind.css";

const { lang } = Astro.props;
---

<html lang={lang}>
  <Header />
  <body
    class="flex flex-col min-h-screen bg-black bg-gradient-to-br from-fgreen/20 to-fpurple/40 antialiased w-full"
  >
    <Navbar lang={lang} client:load />
    <slot />
    <Footer lang={lang} />
  </body>
</html>
